.maincontainer{
  display: block;
  width: 1100px;
  margin: 20px auto 0;
}
.example-input .ant-input {
  width: 200px;
  margin: 0 8px 8px 0;
}
.example-input span{
  margin-right: 15px;
}
.secondinput{
  margin-left:50px;
  span{
  margin-right: 15px;
}
}
.ant-input{
  width:200px;
  height:32px;
}
.thirdinput{
  margin-left: 10px;
}
.search-ant-btn{
width:80px;
height:28px;
  margin-right:30px;
}
.add-ant-btn{
  width:80px;
  height:32px;
}
.searchButton{
  margin-left:60px;
}
.SearchButton{
  .ant-modal-header{
  background-color: #6D6D6D;}
}
#rcDialogTitle0{
  background-color:#6D6D6D ;
}
.ordertypes{
  font-size: 12px;
  text-align: right;
}
.ordertype{
  margin-top: 20px;
 }
#biginput{
  height:100px;
}
.downbutton{
  margin-left: 160px;
}